{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Untitled Document
        {% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static 'main.css' %}" type="text/css">
</head>
<body>
    <div id="wrapper">
        <header id="header">
            <div id="logo">
                <img src="{% static 'logo.jpg' %}" alt="">
            </div>
            <div id="topbanner">
                <img src="{% static 'top_banner.png' %}" width="800" height="200" alt="">
            </div>
        </header>

        <aside id="leftsidebar">
            <nav id="nav">
                <ul>
                    {% block sidenav %}
                    {% endblock sidenav %}
                    <li><a href="{% url 'contact' %}">Contact Us</a></li>
                    <li><a href="{% url 'quote-request' %}">Get a Quote</a></li>
                    <li><a href="{% url 'show-quotes' %}">Show Quotes</a></li>
                </ul>
            </nav>
        </aside>

        <section id="main">
            {% block content %}
                <h1>Welcome!</h1>
                <p>This is the site template</p>
            {% endblock content %}
            
        </section>

        <footer id="footer">
            Copyright &copy; 2019 Meadco Web Design
        </footer>
    </div>
</body>
</html>